@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    margin-right: 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    text-align: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 28px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0;
}

.btn-box {
    margin-top: 20px;
}

.btn-box a {
    display: inline-block;
    padding: 10px 20px;
    background: #00abf0;
    border: 2px solid #00abf0;
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    }